<div class="jumbotron">
    <h1>Sundown Boulevard</h1>
    <p class="lead">The restaurant is open from 16:00 – 22:00 every day.</p>
    <p><a href="/guests" class="btn btn-primary btn-lg">Book a table &raquo;</a></p>
</div>