@model ReservationViewModel
<h2>Log in</h2>
<div id="login" data-reservation-id="@Model.ReservationID">
    <input id="email" type="email" placeholder="Email address" />
    <button onclick="confirmEmail();">Confirm</button>
</div>