<div class="jumbotron">
    <h1>Snooze you lose</h1>
    <p class="lead">Unfortunately your reservation has expired.</p>
    <p><a href="/guests" class="btn btn-primary btn-lg">Try booking a table again &raquo;</a></p>
</div>