<div class="jumbotron">
    <h1>Booking confirmed</h1>
    <p class="lead">We're already looking so much forward to seeing you!</p>
    <p><a href="/guests" class="btn btn-primary btn-lg">Interested in booking another table? &raquo;</a></p>
</div>